a {
    color: #777777;
}

.pageContent {
    background-image: url(../images/circles-light.png);
}

#myName {
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 28px;
    border-color: #fff;
}

#navButtons {
    text-align: end;
}

#aboutMe {
    background-color: #fff;
    color: #777777;
    border-color: #fff;
}

#portfolio {
    background-color: #fff;
    color: #777777;
    border-color: #fff;
}

#contact {
    background-color: #fff;
    color: #777777;
    border-color: #fff;
    padding: 3%;
}

#games {
    background-image: url(images/Digital-gaming.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#friends {
    background-image: url(images/friends.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#sports {
    background-image: url(images/sports.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#triathlon {
    background-image: url(images/triathlon.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

#wedding {
    background-image: url(images/wedding.jpg);
    background-size: cover;
    padding: 3%;
    margin: 4% 1% 0% 0%;
}

@media screen and (max-width: 768px) {

#navMyName {
    text-align: center;
}

#navButtons {
    text-align: center;
}

}